EMAIL=
PASSWORD=

AUTH_URL=
HEATHCHECK_URL=
REPORT_URL=

AUTHORITY=panel-api2.voluum.com
SEC_CH_UA="Google Chrome";v="93"," Not;A Brand";v="99","Chromium";v="93"
SEC_CH_UA_MOBILE=?0
USER_AGENT=Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.82 Safari/537.36
CWAUTH_PANEL_TOKEN=
CONTENT_TYPE=application/json
ACCEPT=application/json
CLIENT_ID=
SEC_UA_PLATFORM="Linux"
ORIGIN=https://panel.voluum.com
SEC_FETCH_SITE=same-site
SEC_FETCH_MODE=cors
SEC_FETCH_DEST=empty
REFERER=https://panel.voluum.com/
ACCEPT_LANGUAGE=en-US,en;q=0.9